.contactUstext{
    text-align: center;
}
.timeline-vertical{
    background-color: #d5793b ;
}

.timeline-dot{
    background-color: #d5793b ;
    border-radius: 50%;
    
}
.contact-card1{
    overflow: hidden;
    height: 600px;
}