.contact-section {
  background-color: #fff;
  color: #1a1a1a;
}

.contact-card {
  padding: 20px;
}

.contact-icon {
  font-size: 2rem;
  color: #d5793b ; 
}

.contact-card a {
  text-decoration: none;
  color: #d5793b ;
  font-weight: 500;
}

.contact-card a:hover {
  text-decoration: underline;
}

.callUs {
  font-size: 2.5rem;
  color: #1a1a1a;
  font-weight: 1200;
  text-align: center;
}